<div class="container" *ngIf="project">
  <app-header></app-header>
  <div class="row">
    <div class="col-md-9">
      <div class="card">
        <div class="card-body text-center">
          <h1 class="card-title">{{ project.name }}</h1>
        </div>
        <div id="carousel-images" class="carousel" data-interval="false">
          <div class="carousel-inner">
            <div class="carousel-item" *ngFor="let img of project.images; let isFirst = first" [class.active]="isFirst">
              <img class="d-block w-100" src="{{'../../assets/img/' + img.name}}" data-toggle="modal"
                [attr.data-target]="'#modal-images-' + project.key" />
            </div>
          </div>
        </div>
        <div class="text-center" style="padding: 5px;">
          <a class="btn btn-outline-secondary btn-round" href="#carousel-images" role="button" data-slide="prev" style="margin-right: 5px;"><span
              class="fa fa-chevron-left"></span></a>
          <a class="btn btn-outline-secondary btn-round" href="#carousel-images" role="button" data-slide="next"><span
              class="fa fa-chevron-right"></span></a>
        </div>
        <div class="text-center m-2">
          <a class="btn btn-outline-secondary" href="#" data-toggle="modal" [attr.data-target]="'#modal-images-' + project.key">Visa
            alla</a>
        </div>
        <div class="card-body">
          <hr>
            <span [innerHtml]="project.description"></span>
            <a class="btn btn-outline-success" [routerLink]="['/kontakt']">Kontakt...</a>
        </div>
      </div>
      

    </div>
    <div class="col-md-3">
        <div class="card max-height">
            <div class="card-body">
                <h5 class="card-title">Faktaruta</h5>
                <hr>
              <p class="card-text" *ngFor="let info of project.summary">
                <b>{{ info.name }}</b>
                <br>{{ info.value }}
              </p>
            </div>
          </div>
    </div>
  </div>


  <div class="row" *ngIf="units">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h3>Till salu</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col" *ngFor="let unit of units">
      <div class="card max-height text-center" style="width: 255px; margin: auto">
          <img src="{{ '../../assets/img/' + unit.images[0].name }}" [routerLink]="['/enhet', unit.key]" class="card-img-top" style="border-bottom: solid 1px gainsboro">
          <div class="card-body">
            <a href="#" [routerLink]="['/enhet', unit.key]"><h3 class="card-title">{{ unit.name }}</h3> </a>
            <h6 class="card-subtitle mb-2 text-muted"><b>Storlek </b>{{ unit.size }} kvm</h6>
            <hr>
            <p class="card-text">
              <b>Pris</b>
              <br>{{ unit.price | currency:'SEK':'':'1.0-0'}} kr
            </p>
            <p class="card-text">
              <b>Avgift</b>
              <br>{{ unit.rent | currency:'SEK':'':'1.0-0' }} kr/mån
            </p>
            <br>
          </div>
      </div>
    </div>
  </div>

<!--
  <table class="table">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">kvm</th>
                <th scope="col">pris</th>
                <th scope="col">avgift</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor='let unit of units' [ngClass]="{'sold':unit.sold}">
                <th><a [routerLink]="['/enhet', unit.key]" [ngClass]="{'disabled':unit.sold}">{{ unit.name }}</a></th>
                <td> {{ unit.size }}</td>
                <td>{{ unit.price | currency:'SEK':'':'1.0-0' }} kr</td>
                <td>{{ unit.rent | currency:'SEK':'':'1.0-0' }} kr/mån</td>
                <td><span class="text-danger" *ngIf='unit.sold'>SÅLD</span></td>
              </tr>
            </tbody>
          </table>
-->

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1702.582084811809!2d21.02675231660073!3d64.7415872728741!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNjTCsDQ0JzI5LjciTiAyMcKwMDEnNDQuMiJF!5e0!3m2!1ssv!2sse!4v1527750055465"
          height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>

<app-image-modal [images]="project.images" [id]="'modal-images-' + project.key" [title]="project.name" *ngIf="project"></app-image-modal>