<nav class="navbar transparent navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand display-3" href="#">
      industriradhus.se
    </a>

  </div>
</nav>
<div class="landing d-none d-md-block">
  <div>
    <img src="../../assets/landing.png" />
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card" style="height: 100%;">

        <div class="card-body">
          <h3>Svenska Industriradhus AB<br>
              <small class="text-muted">Vi är en projektutvecklare av industriradhus.</small>
          </h3>
          <br>
          <p>
             Vårt verksamheten är fokuserad på nyproduktion av industriradhus på etablerade industriområden i norra Sverige.
          </p>
          <p>
              Vårt arbete ska bidra till att skapa väl fungerande industrikluster för dagens och morgondagens företagare. Med hållbart samhällsbyggande avser vi stärka de orter vi investerar i.
          </p>

        </div>
      </div>
      

        
    </div>
    <div class="col-md-3" align="center">
        <div class="card" style="width: 241px;;">
            <img src="../../assets/jorgen.png">
            
            <div class="card-body">
              
              <p class="card-text"><b>Jörgen Munter</b></p>
              <p class="card-text">070-173 37 88</p>
              <p class="card-text"><a href="#">{{ 'jorgen.munter@industriradhus.se' | truncate}}</a></p>
            </div>
          </div>
    </div>
    <div class="col-md-3" align="center">
        <div class="card" style="width: 241px;;">
            <img src="../../assets/jens.png">
            
            <div class="card-body">
              
              <p class="card-text"><b>Jens Eriksson</b></p>
              <p class="card-text">070-688 30 99</p>
              <p class="card-text"><a href="#">{{ 'jens.eriksson@industriradhus.se' | truncate}}</a></p>
            </div>
          </div>
      </div>
  </div>
</div>