<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand display-3" href="#">INDUSTRIRADHUS.SE</a>
  </div>
</nav>
<br>
<div class="container">
  <div class="row">
    <div class="col-9">
      <div class="card">

        <div id="carouselExampleIndicators" class="card-img-top carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div *ngFor='let picture of unit.pictures; let i=index;' class="carousel-item" [ngClass]="{'active': i == 0}">
              <img class="d-block w-100" src="{{'../assets/' + picture.fileName}}" alt="">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

      </div>
      <br>
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">{{ unit.mainDescription.heading }}</h1>
          <p>{{ unit.mainDescription.text }}</p>

          <div *ngFor='let description of unit.descriptions'>
            <br>
            <h5>{{ description.heading}}</h5>
            <p class="card-text">{{ description.text }}</p>
          </div>

          <div *ngFor='let characteristicsSection of unit.characteristicsSections'>
            <br>
            <h3>{{characteristicsSection.heading}}</h3>
            <hr>
            <div class="row">
            <div class="col-4" *ngFor='let characteristic of characteristicsSection.characteristics'>
              <h5>{{ characteristic.description }}</h5>
              <p>{{ characteristic.text }}</p>
            </div>
          </div>
          </div>
        </div>
      </div>
      <br>
      <div class="card">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1702.582084811809!2d21.02675231660073!3d64.7415872728741!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNjTCsDQ0JzI5LjciTiAyMcKwMDEnNDQuMiJF!5e0!3m2!1ssv!2sse!4v1527750055465"
          height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          
      </div>
      <br>
    </div>
    <div class="col-3">
      <div class="card">
        <h5 class="card-body">Ansvarig mäklare</h5>
        <img class="card-img-top" src="{{ '../assets/' + unit.salesAgent.picture.fileName }}" alt="Mäklare">
        
        <div class="card-body">
          
          <p class="card-text"><b>{{ unit.salesAgent.name }}</b></p>
          <p class="card-text">{{ unit.salesAgent.phone }}</p>
          <p class="card-text"><a href="{{ 'mailto:' + unit.salesAgent.email }}">{{ unit.salesAgent.email | truncate}}</a></p>
        </div>
      </div>
      <br>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Faktaruta</h5>
          <table class="table table-borderless table-sm">
            <tr>
              <th>Pris</th>
              <td>{{ unit.price | currency:'SEK':'':'1.0-0' }} kr</td>
            </tr>
            <tr>
              <th>Avgift</th>
              <td>{{ unit.rent | currency:'SEK':'':'1.0-0' }} kr</td>
            </tr>
            <tr>
              <th>Storlek</th>
              <td>{{ unit.size | currency:'SEK':'':'1.0-0' }} kvm</td>
            </tr>

          </table>
        </div>
      </div>
    </div>
  </div>
</div>