<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col">kvm</th>
      <th scope="col">pris</th>
      <th scope="col">avgift</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let unit of project.units' >
      <td><img src="{{'../../assets/' + unit.thumbnail}}" style="height: 40px; width: 40px;" /></td>
      <th><a [routerLink]="['/unit', unit.id]">{{ unit.name }}</a></th>
      <td> {{ unit.size }}</td>
      <td>{{ unit.price | currency:'SEK':'':'1.0-0' }} kr</td>
      <td>{{ unit.rent | currency:'SEK':'':'1.0-0' }} kr/mån</td>
      <td><span class="text-danger" *ngIf='unit.sold'>SÅLD</span></td>
    </tr>
  </tbody>
</table>
