<div class="container">
  <app-header></app-header>

  <div class="row">
    <div class="col-md-6">
      <div class="card max-height" *ngFor="let project of getActiveProjects()" style="margin-bottom: 20px;">
        <img src="{{ '../../assets/img/' + project.images[0].name }}" [routerLink]="['/projekt', project.key]" class="card-img-top">
        <div class="card-body">
          <h3 class="card-title">{{ project.name }}</h3>
          <h6 class="card-subtitle mb-2 text-muted">{{ project.city }}</h6>
          <hr>
          <p class="card-text">
            <b>Försäljningsstart</b>
            <br>{{ project.salesLaunch }}
          </p>
          <p class="text-right">
            <a *ngIf="project.active" [routerLink]="['/projekt', project.key]" class="btn btn-outline-success">Läs mer...</a>
            <a *ngIf="!project.active" [routerLink]="['/kontakt']" class="btn btn-outline-success">Kontakt...</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card max-height">
        <div class="card-body">
          <h3>Flexibelt modulsystem</h3>
          <hr>
          <p>
            Vi jobbar med ett flexibelt modulsystem där ni som företagare kan anpasssa lokalen efter era behov. Ni bestämmer er för
            hur många fack ni behöver i byggnaden och kan sedan inreda dem som ni vill.
          </p>
          <p>
            Vi kan skapa rena lagringsytor, verkstäder med kontorsdel eller butikslokaler. Möjligheterna är många och det är era behov
            som avgör.
          </p>

          <img src="../../assets/img/flexibla-losningar.png" width="100%" />
          <hr>
          <p class="text-right">
            <a [routerLink]="['/moduler']" class="btn btn-outline-success">Läs mer...</a>
          </p>
        </div>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card max-height">
        <div class="card-body">
          <h3>Vad är industriradhus?</h3>
          <hr>
          <p>
            Industriradhus är en ny typ av lösning för små och medelstora företag som vill äga sina egna lokaler men som på egen hand
            inte vill investera i uppförandet av en industribyggnad. Istället kan ett kluster av företag gå samman och bygga
            en större lokal med enheter som upplåts som bostadsrätter.
          </p>
          <p>
            Att investera i sin egen lokal ger dig som företagare möjlighet att placera överskott och följa med fastighetsmarknaden samtidigt
            som man driver sin egen verksamhet. Man sänker också månadskostnaden rejält jämfört med att hyra en liknande
            lokal.
          </p>
          <p>
            I avgiften ingår fastighetsskötsel och löpande underhåll t ex snöröjning. Föreningen har även fastigheten fullvärdesförsäkrad,
            vilket innebär att försäkringskostnaden för den enskilde lokalinnehavaren blir lägre. Bostadsrättsföreningen
            borgar för ett långsiktigt tryggt ägande.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card max-height">
        <div class="card-body">
          <h3>Kommande projekt</h3>
          <hr>
          <div *ngFor="let project of getInactiveProjects()">
            <div class="row">
              <div class="col">
                <h5>{{ project.name }}</h5>
                <h6 class="mb-2 text-muted">{{ project.city }}</h6>
              </div>
              <div class="col">
                <p>
                  <b>Försäljningsstart</b>
                  <br>{{ project.salesLaunch }}
                </p>
              </div>
            </div>
            <hr>
          </div>
          <p class="text-right">
            <a [routerLink]="['/kontakt']" class="btn btn-outline-success">Kontakt...</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


<app-footer></app-footer>