
  <div class="container">
    <div class="row mt-2 mb-3">
      <div class="col">
        <img src="../../assets/img/header-logo.png" width="200px" (click)="navigateHome()" style="cursor: pointer;">
      </div>
      <div class="col text-right pr-0">
        <div class="dropdown mt-2" *ngIf="!isAnonymous">
          <button class="btn btn-outline-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img class="photo" [src]="getPhotoUrl()" />
            {{ getName() }}
          </button>
          <div class="dropdown-menu dropdown-menu-right text-center" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#" (click)="signOut()">Logga ut</a>
          </div>
        </div>
      </div>
    </div>
  </div>