<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand display-3" href="#">INDUSTRIRADHUS.SE</a>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
            style="color: grey;">
            <span>{{ selectedProject.name | uppercase }}</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <span *ngFor='let project of projects'>
              <a class="dropdown-item" href="{{'project/' + project.id}}">{{project.name | uppercase}}</a>
            </span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br>
<div class="container">

  <div class="card">

    <div id="carouselExampleIndicators" class="card-img-top carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div *ngFor='let picture of selectedProject.pictures; let i=index;' class="carousel-item" [ngClass]="{'active': i == 0}">
          <img class="d-block w-100" src="{{'../assets/' + picture.fileName}}" alt="First slide">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <br>
    <div class="card-body">
      <h2 class="display-4">{{ selectedProject.mainDescription.heading }}</h2>
      <p class="card-text">
        {{ selectedProject.mainDescription.text }}
      </p>

      <div *ngFor='let description of selectedProject.descriptions'>
        <br>
        <h5>{{ description.heading}}</h5>
        <p class="card-text">{{ description.text }}</p>
      </div>
      <div *ngIf='selectedProject'>
        <br>
        <h3>Till salu</h3>
        <app-unit-list [project]='selectedProject'></app-unit-list>
      </div>
    </div>
  </div>
</div>