<nav class="navbar transparent navbar-expand-lg">
  <div class="container">
      <a class="navbar-brand display-3" href="#">
          industriradhus.se
        </a>
  </div>
</nav>
<div class="landing d-none d-md-block">
  <div>
    <img src="../../assets/landing.png" />
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="card d-none d-md-block" style="height: 100%;">

        <div class="card-body">
          <h3>Vad är industriradhus?</h3>
          <p>
            Industriradhus är en ny typ av lösning för små och medelstora företag som vill äga sina egna lokaler men som på egen hand
            inte vill investera i uppförandet av en industribyggnad. Istället kan ett kluster av företag gå samman och bygga
            en större lokal med enheter som upplåts som bostadsrätter.
          </p>
          <p>
            Att investera i sin egen lokal ger dig som företagare möjlighet att placera överskott och följa med fastighetsmarknaden samtidigt
            som man driver sin egen verksamhet. Man sänker också månadskostnaden rejält jämfört med att hyra en liknande
            lokal.
          </p>
          <p>
            I avgiften ingår fastighetsskötsel och löpande underhåll t ex snöröjning. Föreningen har även fastigheten fullvärdesförsäkrad,
            vilket innebär att försäkringskostnaden för den enskilde lokalinnehavaren blir lägre. Bostadsrättsföreningen
            borgar för ett långsiktigt tryggt ägande.
          </p>

          <h3>Flexibla lösningar</h3>
          <p>
            Vi jobbar med ett flexibelt modulsystem där du som företagare kan anpasssa din lokal efter era behov. Ni bestämmer er för
            hur många fack ni behöver i byggnaden och kan sedan inreda dem som ni vill.

          </p>
          <p>
            Vi kan skapa rena lagringsytor, verkstäder med kontorsdel eller en butikslokal. Möjligheterna är många och det är era behov
            som avgör.
          </p>
    
          <div id="carousel-floorplans" class="carousel slide">
            <ol class="carousel-indicators">
              <li data-target="#carousel-floorplans" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-floorplans" data-slide-to="1"></li>
              <li data-target="#carousel-floorplans" data-slide-to="2"></li>
              <li data-target="#carousel-floorplans" data-slide-to="3"></li>
              <li data-target="#carousel-floorplans" data-slide-to="4"></li>
              <li data-target="#carousel-floorplans" data-slide-to="5"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
       
                <img class="d-block w-100" src="../../assets/planlosning-01.png" />
              </div>
              <div class="carousel-item">
             
                <img class="d-block w-100" src="../../assets/planlosning-02.png" />
              </div>
              <div class="carousel-item">
             
                <img class="d-block w-100" src="../../assets/planlosning-03.png" />
              </div>
              <div class="carousel-item">
            
                <img class="d-block w-100" src="../../assets/planlosning-04.png" />
              </div>
              <div class="carousel-item">
             
                <img class="d-block w-100" src="../../assets/planlosning-05.png" />
              </div>
              <div class="carousel-item">
              
                <img class="d-block w-100" src="../../assets/planlosning-06.png" />
              </div>
            </div>
            <a class="carousel-control-prev" href="#carousel-floorplans" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-floorplans" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Skellefteå</h5>
          <h6 class="card-subtitle mb-2 text-muted">Hedensbyns Företagspark</h6>
          <hr>
          <p class="card-text">
            <b>Försäljningsstart</b>
            <br>Vintern 2018/2019</p>
          <a [routerLink]="['/project', 'hedensbyn']" class="btn btn-outline-success">Läs mer...</a>
        </div>
      </div>
      <br>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Sundsvall</h5>
          <h6 class="card-subtitle mb-2 text-muted">Nacksta Industriområde</h6>
          <hr>
          <p class="card-text">
            <b>Försäljningsstart</b>
            <br>Våren 2019</p>
          <a href="#" class="btn btn-outline-success disabled">Läs mer...</a>
        </div>
      </div>
      <br>
      <div class="card">

        <div class="card-body">
          <h5 class="card-title">Gällivare</h5>
          <h6 class="card-subtitle mb-2 text-muted">--</h6>
          <hr>
          <p class="card-text">
            <b>Försäljningsstart</b>
            <br>Våren 2019</p>
          <a href="#" class="btn btn-outline-success disabled">Läs mer...</a>
        </div>
      </div>
      <br>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Luleå</h5>
          <h6 class="card-subtitle mb-2 text-muted">--</h6>
          <hr>
          <p class="card-text">
            <b>Försäljningsstart</b>
            <br>Sommaren 2019</p>
          <a href="#" class="btn btn-outline-success disabled">Läs mer...</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">

  </div>
</div>