<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand display-3" href="#">{{title | uppercase }}</a>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
            style="color: grey;">
            HEDENSBYNS FÖRETAGSPARK
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">HEDENSBYNS FÖRETAGSPARK</a>
            <a class="dropdown-item" href="#">ETT ANNAT PROJEKT</a>
            <div class="dropdown-divider"></div>

            <a class="dropdown-item justify-content-end" href="#">LOGGA IN</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br>